logs
*.log

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
update_and_restart.sh
bundle-analysis.html

server/prisma/dev.db-journal
server/prisma/migrations/dev.db
server/prisma/dev.db
