.row{
    text-align: left;
}
.cart{
    color: var(--color-primary);
    background-color: var(--color-background);
    border: 2px solid var(--color-border);
    border-radius: var(--radius-md);
    font-size: var(--font-size-xl);
    cursor: pointer;
}
.cart:hover{
    color: var(--color-background);
    background-color: var(--color-primary);
    border: 2px solid var(--color-accent);
}