.button{
  padding: var(--space-sm);
  background: var(--color-background);
  color: var(--color-accent);
  border: var(--space-border) solid var(--color-border);
  border-radius: var(--radius-md);
  cursor: pointer;
  font-size: var(--font-size-lg);
  font-family: var(--font-family-base);
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.button:hover {
  border-width: var(--space-border);
  padding: var(--space-sm);
  border-color: var(--color-accent);
  background: rgba(0, 0, 0, 0.1);
}  
.selected {
  border-width: var(--space-border);
  padding: var(--space-sm);
  border-color: var(--color-accent);
  background: rgba(0, 0, 0, 0.1);
}
.image {
    width: 30px;
    height: 30px;
}
.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);

  background-color: #333;
  color: #fff;
  padding: var(--space-sm);
  border-radius: var(--radius-md);

  max-width: min(200px, 90vw);   /* prevents viewport overflow */
  white-space: normal;           /* allow wrapping */
  overflow-wrap: break-word;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 10;

  font-size: medium;
  text-align: center;
}

.tooltip:hover::after,
.tooltip:hover::before {
  opacity: 1;
}
