.image{
    width: 40px;
    height: 40px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
}

.container {
    padding: 4px;    
    display: flex;
    flex-direction: column ;
    gap: 8px;
    align-items: center;
    height: fill-container
}

.selected{
    border: 2px solid black;
    border-radius: 8px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.label{
    width: 50px;
    text-align: center;
    text-wrap: wrap;;
}