.materialGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.container {
  user-select: none;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  height: 30px;
  width: 100%;
}

.buttondiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
