.wrapper,
.center {
    display:flex;
    align-items:center;
    height:100%;
    width:100%;
}

.wrapper {
    flex-direction: column;
}

.center {
    box-sizing: border-box;
    padding: var(--space-md);
    flex-direction: row;
    gap: var(--space-md);
}