.button{
  padding: 12px;
  background: var(--color-background);
  color: var(--color-accent);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  cursor: pointer;
  font-size: var(--font-size-md);
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.button:hover {
  border-width: 3px;
  padding: 10px;
  border-color: var(--color-accent);
}  
.selected {
  border-width: 3px;
  padding: 10px;
  border-color: var(--color-accent);
}
.image {
    width: 30px;
    height: 30px;
}
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Tooltip text */
.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -50%; /* above the element */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 10;
  font-size: medium;
}

/* Show tooltip on hover */
.tooltip:hover::after,
.tooltip:hover::before {
  opacity: 1;
}
