.toolbar{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: var(--space-md);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-background);
  gap: var(--space-sm);
  /* box-shadow: var(--shadow-lg); */
  font-size: var(--font-size-xl);
  color: var(--color-primary-dark);
}
.title {
    margin: 0;
}
.toolSection {
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
}
.settingsMenu {
  position: absolute;
  top: 60px;
  right: 20px;

  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;

  padding: 12px;
  width: 200px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  z-index: 20;
}

.settingsMenu label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.settingsMenu h4 {
  margin: 0 0 8px 0;
}